{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="buttonblocks color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    <div class="button_block_section">
      <ul
        class="button-list grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop"
        role="list"
      >
       
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.link_label == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' button_blocks__item--empty' -%}
          {%- endif -%}

         <li
            id="buttons-{{ section.id }}-{{ forloop.index }}"
            class="button_blocks__item grid__item{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="button-card content-container">
              <div class="button-card__info">
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a
                  >
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>

{% style %}
  #shopify-section-{{ section.id }}.button_blocks .button-card__info .link {
    margin-top: 0;
  }
  #shopify-section-{{ section.id }}.button_blocks .button-card__info{
    background: {{ section.settings.block_color }};
    padding: 10px 20px;
  }
  #shopify-section-{{ section.id }}.button_blocks .button-card__info{
      text-align: center;
  }
  #shopify-section-{{ section.id }}.button_blocks ul li {
    margin-top: 0;
  }
  @media(max-width:768px){
    #shopify-section-{{ section.id }}.button_blocks ul li {
        max-width: 50%;
        width: 100%;
        min-width: 48%;
    }
  }
  {% if section.settings.border_curve != blank %}
    #shopify-section-{{ section.id }}.button_blocks .button-card__info{
      border-radius: 30px;
    }
  {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "Button Blocks",
  "class": "section button_blocks",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.button-blocks.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.button-blocks.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.button-blocks.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.button-blocks.settings.background_style.options__2.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "border_curve",
      "default": false,
      "label": "t:sections.button-blocks.settings.border_curve.label"
    },
    {
      "type": "color",
      "id": "block_color",
      "label": "t:sections.button-blocks.settings.block_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "New Arrivals",
          "label": "t:sections.button-blocks.blocks.button.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.button-blocks.blocks.button.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Button Blocks",
      "blocks": [
        {
          "type": "button"
        },
        {
          "type": "button"
        },
        {
          "type": "button"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
