{{ 'component-shop-the-look.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'flickity.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="shop-the-look section-{{ section.id }}-padding{% if section.settings.full_width %} shop-the-look--full-width{% endif %}">
    <div class="shop__title title-wrapper title-wrapper--no-top-margin page-width">
         {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %}{% unless section.settings.enable_desktop_slider != "blank" %} scroll-trigger animate--slide-in{% endunless %}{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      {% if section.settings.content != blank %}
        {{ section.settings.content }}
      {% endif %}
      {%- if section.settings.description != blank
        or section.settings.show_description
        and section.settings.collection.description != empty
      -%}
        <div class="collection__description {{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %}{% unless section.settings.enable_desktop_slider != blank %} scroll-trigger animate--slide-in{% endunless %}{% endif %}">
          {%- if section.settings.show_description -%}
            {{ section.settings.collection.description }}
          {%- else -%}
            {{ section.settings.description -}}
          {%- endif %}
        </div>
      {%- endif -%}
    </div>

  <div class="hotspots-wrapper shop-the-look_item">
      <div class="shop-the-look_image">
        <img
          srcset="
            {%- if section.settings.desktop_image.width >= 750 -%}{{ section.settings.desktop_image | image_url: width: 1500 }} 750w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 1070 -%}{{ section.settings.desktop_image | image_url: width: 1600 }} 1070w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 1500 -%}{{ section.settings.desktop_image | image_url: width: 2500 }} 1500w,{%- endif -%}
            {{ section.settings.desktop_image | image_url }} {{ section.settings.desktop_image.width }}w
          "
          src="{{ section.settings.desktop_image | image_url: width: 1750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt=""
          width="{{ section.settings.desktop_image.width }}"
          height="{{ section.settings.desktop_image.height }}"
        >
      </div>

  </div>

    
  </div>
</div>
{% schema %}
{
  "name": "Shop The Look",
  "tag": "section",
  "class": "section shop_the_look",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "t:sections.featured-collection.settings.content.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection.settings.show_description.label",
      "default": false
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Shop the look",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended a square ratio for optimal mobile experience"
        },
        {
          "type": "product",
          "id": "featured_product",
          "label": "Product"
        },
      ]
    }
    
  ],
   "presets": [
    {
      "name": "Shop The Look"
    }
  ]
}
{% endschema %}
