{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

{%- capture sizes -%}
  {% if section.settings.full_width -%}
    100vw
  {%- else -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
    calc(100vw - 10rem), 100vw
  {%- endif %}
{%- endcapture -%}

<div class="color-{{ section.settings.color_scheme }} gradient main_video--section">
  <div class="video-section isolate{% if section.settings.full_width != blank %} full-width {% endif %}{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
    <div
      {% if section.settings.full_width %}
        class="page-width"
      {% endif %}
    >
      {%- unless section.settings.heading == blank -%}
        <div
          class="title-wrapper title-wrapper--no-top-margin{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if section.settings.overlay_content != blank %}
            style="display:none;"
          {% endif %}
        >
          <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
          {% if section.settings.content != blank %}
            <div class="rte">{{ section.settings.content }}</div>
          {% endif %}
        </div>
      {%- endunless -%}
    </div>
    <noscript>
      <div
        class="video-section__media"
        {% if poster != null %}
          style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        {%- if section.settings.video == null and section.settings.video_url != null -%}
          <a
            href="{{ section.settings.video_url }}"
            class="video-section__poster media media--transparent{% if poster == null %} video-section__placeholder{% endif %}"
          >
            {%- if poster != null -%}
              {{
                poster
                | image_url: width: 3840
                | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
              }}
            {%- else -%}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {%- endif -%}
          </a>
        {%- else -%}
          {{
            section.settings.video
            | video_tag:
              image_size: '1100x',
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false,
              autoplay: true,
              loop: true
          }}
        {%- endif -%}
      </div>
    </noscript>
    {% assign mobile_video_height = 1 | divided_by: section.settings.mobile_video.aspect_ratio | times: 100 %}

    {%- if section.settings.video != null and section.settings.video_url != null -%}
    <deferred-media
      class="video-section__media deferred-media no-js-hidden gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-media-id="{{ video_id }}"
      {% if poster != null %}
        style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
      {% endif %}
    >
       
        <button
          id="Deferred-Poster-Modal-{{ video_id }}"
          class="video-section__poster media deferred-media__poster media--landscape"
          type="button"
          aria-label="{{ alt }}"
        >
          {%- if poster != null -%}
            {{
              poster
              | image_url: width: 3840
              | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
            }}
          {%- else -%}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
          <span class="deferred-media__poster-button motion-reduce">
            {%- render 'icon-play' -%}
          </span>
        </button>
    
      <template>
        {%- if section.settings.video != null and section.settings.video_url != null -%}
          {%- liquid
            assign loop = ''
            if section.settings.enable_video_looping
              assign loop = '&loop=1&playlist=' | append: video_id
            endif
          -%}
          {%- if section.settings.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        {%- endif -%}
      </template>
    </deferred-media>

    {% endif %}

    <div class="video-section__media gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-media-id="{{ video_id }}"
      {% if poster != null %}
        style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
      {% endif %}>

      <button
          id="Deferred-Poster-Modal-{{ video_id }}"
          class="video-section__poster media deferred-media__poster media--landscape"
          type="button"
          aria-label="{{ alt }}"
        >
          {%- if poster != null -%}
            {{
              poster
              | image_url: width: 3840
              | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
            }}
          {%- else -%}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
          <span class="deferred-media__poster-button motion-reduce">
            {%- render 'icon-play' -%}
          </span>
        </button>

      
     {% if section.settings.video != blank %}
        <div class="desktop_video hide--small">
          {{
            section.settings.video
            | video_tag:
              image_size: '1100x',
              class: 'video_div',
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false,
              autoplay: true,
              playsinline: true
          }}
        </div>
      {% endif %}
      {% if section.settings.mobile_video != blank %}
        <div class="mobile_video hide--lap-up" style="height: {{ mobile_video_height }}%">
          {{
            section.settings.mobile_video
            | video_tag:
              image_size: '1100x',
              class: 'video_div',
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false,
              autoplay: true,
              playinline: true
          }}
        </div>
      {% endif %}
  
    
    </div>

    {% if section.settings.overlay_content != blank %}
      {%- unless section.settings.heading == blank -%}
        <div class="title-wrapper content_overlay">
          <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
          {% if section.settings.content != blank %}
            <div class="rte">{{ section.settings.content }}</div>
          {% endif %}
        </div>
      {%- endunless -%}
    {% endif %}
  </div>
  {%- if section.settings.link != blank -%}
    <a
      {% if section.settings.link %}
        href="{{ section.settings.link }}"
      {% else %}
        role="link" aria-disabled="true"
      {% endif %}
      class="floating_link"
    >
    </a>
  {%- endif -%}
</div>

{% style %}
      {% if section.settings.overlay_content != blank %}
        #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
          position: absolute;
          z-index: 3;
          margin-bottom: 0;
        }
        #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay h2.title.inline-richtext.h1 {
          margin-bottom: 10px;
          margin-top: 0;
        }
        #shopify-section-{{ section.id }}.video_section .main_video--section{
          position: relative;
        }
        @media(min-width:750px){
          #shopify-section-{{ section.id }}.video_section .video-section.isolate {
            padding: 0;
            margin: 0 5rem;
            position: relative;
          }
        }
        {% if section.settings.overlay_content_pos == "center_overlay" %}
          #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        {% endif %}
        {% if section.settings.overlay_content_pos == "center_left_overlay" %}
          #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
            top: 50%;
            left: 10%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        {% endif %}
        {% if section.settings.overlay_content_pos == "center_right_overlay" %}
          #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        {% endif %}
        {% if section.settings.overlay_content_pos == "bottom_overlay" %}
          #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        {% endif %}
        {% if section.settings.overlay_content_pos == "bottom_left_overlay" %}
          #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
            bottom: 0;
            left: 10%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        {% endif %}
        {% if section.settings.overlay_content_pos == "bottom_right_overlay" %}
          #shopify-section-{{ section.id }}.video_section .title-wrapper.content_overlay {
            bottom: 0;
            right: 10%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        {% endif %}
      {% endif %}
      #shopify-section-{{ section.id }}.video_section .video-section.isolate.full-width {
        margin: 0 !important;
        padding: 0;
    }
    @media(max-width:749px){
    #shopify-section-{{ section.id }}.video_section .video-section__media.global-media-settings--full-width {
      padding-bottom: {{ mobile_video_height }}%;
    }
  }
{% endstyle %}

<script>

  document.addEventListener('DOMContentLoaded', function () {
  // Select all play buttons
  const playButtons = document.querySelectorAll('.deferred-media__poster-button');

  playButtons.forEach(button => {
    button.addEventListener('click', function () {
      // Find the parent container
      const parentContainer = button.closest('.video-section__media');

      // Hide the poster
      const poster = parentContainer.querySelector('.video-section__poster');
      if (poster) poster.style.display = 'none';

      // Find the appropriate video container (desktop or mobile)
      const videoContainer = parentContainer.querySelector(
        window.innerWidth > 768 ? '.desktop_video video' : '.mobile_video video'
      );

      if (videoContainer) {
        videoContainer.style.display = 'block'; // Ensure video is visible
        videoContainer.play(); // Play the video
      }
    });
  });
});

</script>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section video_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.video.settings.heading.label"
    },
     {
      "type": "inline_richtext",
      "id": "content",
      "label": "t:sections.video.settings.content.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.video.settings.link.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "t:sections.video.settings.video_autoplay.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "overlay_content",
      "label": "t:sections.video.settings.overlay_content.label",
      "default": false,
      "info": "Use this with autoplay"
    },
    {
      "type": "select",
      "id": "t:sections.video.settings.overlay_content_pos.label",
      "options": [
        {
          "value": "center_overlay",
          "label": "t:sections.video.settings.overlay_content_pos.center_overlay.label"
        },
        {
          "value": "center_right_overlay",
          "label": "t:sections.video.settings.overlay_content_pos.center_right_overlay.label"
        },
        {
          "value": "center_left_overlay",
          "label": "t:sections.video.settings.overlay_content_pos.center_right_overlay.label"
        },
        {
          "value": "bottom_overlay",
          "label": "t:sections.video.settings.overlay_content_pos.bottom_overlay.label"
        },
        {
          "value": "bottom_right_overlay",
          "label": "t:sections.video.settings.overlay_content_pos.bottom_right_overlay.label"
        },
        {
          "value": "bottom_left_overlay",
          "label": "t:sections.video.settings.overlay_content_pos.bottom_left_overlay.label"
        }
      ],
      "default": "center_overlay",
      "label": "t:sections.video.settings.overlay_content_pos.center_overlay.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "t:sections.video.settings.mobile_video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
